*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    background-color: #DEDEDE;
}

.card{
    margin: 50px 2px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: auto;
    background-color: #212121 ;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, #212121 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card h1{
    text-align: center;
    font-size: 42px;
    color: #FFB2B2;
}

.message_erreur{
    color: red;
    margin: 5px 0;
    text-align: center;
    font-size: 18px;
}

.formulaire-inscription form{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.champ {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.formulaire-inscription label{
    font-size: 18px ;
    color: #DEDEDE;
}

.formulaire-inscription input{
    padding: 5px;
    margin: 3px;
    outline: 0;
    border: 2px solid #27374D;
    border-radius: 6px;
}

.btn button{
    --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
    --accent: #B2FFFF;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #FFB2B2;
    cursor: pointer;
    color: #212121;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;

    display: block;
    margin: auto;
    margin-top: 30px;
  }
  
.btn button:hover {
    box-shadow: var(--hover-shadows);
  }
  
.btn button:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
}

.btn-link{
    margin: auto;
    margin-top: 20px;
    color: #f5f5f5;
    display: block;
    font-size: 15px;
    transition: color .3s ease-out;
}  

.btn-link:hover {
    color: #ffeba7;
}
   
